hr {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

hr.gradient-hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.link {
  cursor: pointer;
}

.padding {
  padding: 25px;
}

.inline {
  display: inline-block !important;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* *************** MISC COMPONENTS  ******************* */

.loading {
  margin-top: 50px;
  margin-left: 25px;
}

/* ***************SIGN-UP PAGE  ******************* */

.signup {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.login {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.login-input {
  width: 60%;
}

.guest-button {
  height: 20px;
  width: 40px;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}



/* ***************PROFILE/ HOME PAGE  ******************* */

body {
  min-width: 100% !important;
}

.profile-container {
  margin: 0 auto;
  width: 775px;
}

.profile-left-column {
  float: left;
  margin-top: 50px;
  width: 275px;
}

.profile-main-column {
  float: left;
  margin-top: 50px;
  width: 500px;
}

.profile-button {
  padding: 0 0 0 0 !important;
  width: 75px;
  height: 30px;
}

.follow-button {
  float: right;
}

.unfollow-icon {
  margin-left: 200px !important;
  margin-top: 3px !important;
}

.unfollow-icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {

  .profile-container {
    width: 575px;
  }

  .profile-left-column {
    float: left;
    margin-left: 50px;
    width: 250px;
  }

  .profile-main-column {
    float: left;
    margin-top: 50px;
    width: 275px;
  }

}

@media only screen and (max-width: 540px) {

  .profile-container {
    width: 250px;
  }

  .profile-left-column {
    display: block;
    margin-left: 25px;
    width: 250px;
  }

  .profile-main-column {
    display: block;
    margin-top: 50px;
    margin-left: 25px;
    width: 250px;
  }

  .ui.input input {
    width: 150px;
    font-size: 0.8em;
  }

}

@media only screen and (max-width: 400px) {

  .profile-container {
    width: 250px;
  }

  .profile-left-column {
    display: block;
    margin-left: 0px;
    width: 250px;
  }

  .profile-main-column {
    display: block;
    margin-top: 50px;
    margin-left: 0px;
    width: 250px;
  }

  .ui.input input {
    width: 100px;
    font-size: 0.6em;
  }

  .ui.category.search .results {
    width: 275px;
  }

  .ui.search>.results {
    left: -75px;
  }

  .ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    margin-left: 0 !important;
  }

}

/* ***************STOCK SHOW PAGE  ******************* */

  .stock-container {
    margin: 0 auto;
    width: 1000px;
  }

  .stock-header {
    padding: 25px;
  }

  .stock-left-column {
    float: left;
    width: 225px;
    margin-left: 25px;
  }

  .stock-main-column {
    float: left;
    margin-left: 75px;
    width: 615px;
  }

  .social-data-container {
    padding: 0px 25px 25px 25px;
  }

  .stock-data-container {
    text-align: center;
    padding-bottom: 25px;
  }

  .stock-news-container {
    padding-top: 25px;
  }

  .stock-comments-container {
    padding-top: 25px;
  }

  .social-button-container {
    padding: 15px;
    text-align: center;
  }

  .following-list {
    margin-bottom: 25px;
  }

  .following-list h5{
    text-align: center;
  }

  .social-button-container div {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }

  .social-button {
    height: 36px;
    width: 120px;
    padding: 0 !important;
  }

  .social-button-follow {
    height: 20px;
    width: 90px;
    padding: 0 !important;
  }

  .social-button-like {
    width: 160px;
  }

@media only screen and (max-width: 1017px) {

  .stock-container {
    margin: 0 0 0 0;
    width: 100%;
  }

  .stock-main-column {
    text-align: center;
    width: 525px;
    margin-left: 0px;
  }

  .stock-data-container {
    text-align: center;
    padding-bottom: 25px;
  }

  .social-button {
    height: 25px;
    width: 80px;
    font-size: 0.8em !important;
    padding: 0 !important;
  }

  .social-button-like {
    height: 25px;
    width: 100px;
    font-size: 0.9em !important;
    padding: 0 !important;
  }

  table {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  table caption {
    font-size: 1em;
    margin: 0 0 0 0;
  }

  table tr {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: .35em;
  }

  table td {
    width: 100px !important;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 792px) {

  /*SNAP INTO NEW VIEW*/

  

}


table {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  table-layout: fixed;
  line-height: 1.25;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

table td {
  width: 130px;
  padding: .625em;
  text-align: center;
}



#chartjs-tooltip {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#logo-png {
    width: 2.5em;
}

/*OVERWRITE SEMANTIC UI STYLES */

.body-container {
  margin-top: 1em !important;
}

.card{
  position: relative;
}

.ui.card>.content, .ui.cards>.card>.content {
    border-top: 1px solid rgba(34,36,38,0) !important;
}

.ui.card {
  padding: 5px 15px 15px 15px;
}

.ui.card, .ui.cards>.card {
  width: 225px !important;
}

i.circular.icon {
  padding: 3.2px 0px 0px 0.8px !important;
  width: 1.5em !important;
  height: 1.5em !important;
}
